<!doctype html>
<html lang="en">
  <head>
    <title>Soltan</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="title" content="Soltan" />
    <meta
      name="description"
      content="Who Wants to Be a Millionaire - but with Types"
    />
    <link rel="stylesheet" href="./main.css" />
    <% if(isDev){ %>
    <script type="module" src="/src/index.dev.js"></script>
    <% } else { %>
    <script type="module" src="/src/index.prod.js"></script>
    <% } %>
  </head>
  <body></body>
</html>
